.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
p{
    text-align: center;
    line-height: 1.5rem;
}
.item{

background-color: green;
padding: 5px;
width: 500px;
height: 500px;
margin: 10px;
line-height: 100px;
color: white;
font-weight: bold;
font-size: 2em;
text-align: center;
padding: 10px;
 

}

.items-right{
display: flex;
margin-left: auto;
padding: 10px;
flex-direction: row;
justify-content: end;
flex-wrap: wrap;



}
.izquierda{
background-color: green;
padding: 5px;
width: 100px;
height: 100px;
margin: 10px;
line-height: 100px;
color: white;
font-weight: bold;
font-size: 2em;
text-align: center;
box-shadow:10px 15px 10px ;

}
