


    body{
        
        background-color: aqua;
        font-size: 30px;


    }

    img{

        width: 60px;
        height: 60px;
        margin-top: 20px;

    }

    .container{

        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        height: 100vh;

    
       
    }

    

    .mobile{

        display: none;
    }

    .tablet{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

    }

    .laptop{
    
        display: none;
    }
    
    
    .desktop{
    
        display: none;
    
    }