:root {
  --primary-color: #dbcf5c;
}

html {
  font-size: 1.2rem;
  background-image: url('../img/olive-oil_1920.jpg') ;
  height: 500px; 
    
  background-attachment: fixed; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}



h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  
  background-color: white;
  margin-bottom: 20px;
  border-bottom: 4px solid var(--primary-color);
  padding-bottom: 6px;


  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
 
 

  
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 40px;
  
}

p {
  padding: 20px;
}

.parallax{
  filter: blur(3px);
  padding:0;
  height: 100px;
  
}
 
  
.parallax :hover{
    filter: grayscale(100%);
  }

  
section{
margin: 100px 0 100px 0 ;
background-color: white;

}
header{
  background-color: white;

  padding: 10px 30px 50px 20px;
}